/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(136, 136, 136);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2563EB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}